* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  position: relative;
  align-items: center;

  height: 70px;
  background-color: #FCEFE4;
}

.header__menu {
  display: flex;
  margin-left: 320px;
  gap: 20px;
}

.header__burger {
  margin-left: 135px;
}

.header__logo {
  margin-left: 457px;
}